{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Book Enthusiastic - Tenzin Sparks</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'materialize/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'materialize/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{% url 'index' %}" class="brand-logo">Book Enthusiastic</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'login' %}">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="{% url 'login' %}">Login</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">Menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"><strong>Welcome to Book Enthusiastic </strong></h1>
        <div class="row center">
          <h5 class="header col s12 light">If one cannot enjoy reading a book over and over again, there is no use in reading it at all</h5>
        </div>
        <div class="row center">
          <a href="{% url 'all_books' %}" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Looking for interesting books, register?</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'img/bg1.jpg' %}" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Good friends, good books, and a sleepy conscience: this is the ideal life</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'img/bg2.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Herald College Kathmandu (HCK) Herald College Kathmandu provides the best UK university education at most affordable fees. It offers Bachelor Degrees in IT and Business in direct partnership with the University of Wolverhampton, UK. Programmes that Herald College Kathmandu offers are flexible and have always aimed to foster a broader based knowledge.<br>Herald College Kathmandu
            Bishalnagar, Handigaon, Kathmandu
            Phone: 9801022637, 01-4010120, 01-4010121
            Email: info@heraldcollege.edu.np</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Never trust anyone who has not brought a book with them</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'img/bg.jpeg' %}" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">From Herald College KTM</h5>
          <p class="grey-text text-lighten-4">This website is created on the purpose of Final Year Project (FYP). There is no use of copying from someone's work or without conscience. It is completely developed by Herald student, KTM. The site is based on book recommendation system.</p>


        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Templates from <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      <strong>& © 2021 Book Enthusiastic by Tenzin Sparks. All Rights Reserved. </strong>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'materialize/js/materialize.js' %}"></script>
  <script src="{% static 'materialize/js/init.js' %}"></script>

  </body>
</html>
