{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Book Site | User Profile</title>
{% endblock %}

{% block content %}
<head>
	<title>Register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>


{% if messages %}
    {% for message in messages %}
        <small {% if messages.tages %} class="{{messages.tags}}" {% endif %}>{{message}}</small>
    {% endfor s%}
{% endif %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
<form action="" method="POST" novalidate class="login100-form validate-form flex-sb flex-w">
    <span class="login100-form-title p-b-51"></span>
    {% csrf_token %}
    <span class="login100-form-title p-b-51">
        User Profile - Welcome {{name.username}}
    </span>
    <!-- {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p>{{error}}</p>
        {% endfor %}
    {% endif %}

    {% for profile in form %} -->
    <!-- {{profile.label_tag}} {{profile}} {{profile.errors | striptags}} -->

    <div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
        <input  type="text" class="input100" name="username" placeholder="Username" value="{{name.username}}">
        
        <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 validate-input m-b-16" data-validate = "First name is required">
        <input  type="text" class="input100" name="first_name" placeholder="First name" value="{{name.first_name}}">
        
        <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 validate-input m-b-16" data-validate = "Last name is required">
        <input  type="text" class="input100" name="last_name" placeholder="Last name" value="{{name.last_name}}">
        
        <span class="focus-input100"></span>
    </div>

  
    <div class="wrap-input100 validate-input m-b-16" data-validate = "Email is required">
        <input  type="email" class="input100" name="email" placeholder="Email" value="{{name.email}}">
        
        <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 validate-input m-b-16" data-validate = "">
        <input  type="text" class="input100" name="date_joined" placeholder="date_joined" value="{{name.date_joined}}">
        
        <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 validate-input m-b-16" data-validate = "">
        <input  type="text" class="input100" name="last_login" placeholder="last_login" value="{{name.last_login}}">
        
        <span class="focus-input100"></span>
    </div>

    <!-- {% endfor %} -->

    <div class="container-login100-form-btn m-t-17">
        <button class="login100-form-btn" type="submit" onclick="myFunction()">
            save
        </button>
    </div> 
</form>

<!--===============================================================================================-->
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->

<script src="{% static 'js/main.js' %}"></script>

	<script>
		function myFunction() {
  		document.getElementById("ckb1").required = true;
  		document.getElementById("demo").innerHTML = "The required property was set. The checkbox must now be checked before submitting the registration form.";
}
	</script>

{% endblock %}