{% extends 'base.html' %}

{% block title %}
<title>Book Site | Search books</title>
{% endblock %}

{% block content %}
<div class = 'container-fluid'>
  <h3 style="text-align: center; color: royalblue;"><strong>Search results:</strong></h3>
</div>
  <!-- Search details -->
  <div class = 'container-fluid'>
    <div class = 'row'>
      <h4>{{searched_books.title}}</h4>
        {% if searched_books %}
          {% for book in searched_books %}
          <div class="col-sm-2 col-md-2 ">
            <div class="thumbnail" style="border-radius: 22px 22px 22px 22px;">
              <hr>
              <center><h4 style="color: black;"><strong>{{book.title}}</strong></h4></center>
              <a href="{% url 'book_detail' book.slug %}"></a>
                <img src = "{{book.cover_image.url}}" class="img-responsive" style="border-radius: 22px 22px 22px 22px;">
              </a>
              </div>
          </div>  
    {% endfor %}
    {% else %}
    <div class = 'row'>
      <h3>Book is not available! Pleas, check back later</h3>
    </div>
    {% endif %}
  </div>
{% endblock %}